<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>685927937385-bqfntaet69sku2686uqd6f1bs35g7sla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685927937385-bqfntaet69sku2686uqd6f1bs35g7sla</string>
	<key>API_KEY</key>
	<string>AIzaSyCLdRjmKwJkpjjT1sjAooZGKEZJ69YBaBo</string>
	<key>GCM_SENDER_ID</key>
	<string>685927937385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceylonlabs.Collection-Buddy</string>
	<key>PROJECT_ID</key>
	<string>collection-buddy-95e51</string>
	<key>STORAGE_BUCKET</key>
	<string>collection-buddy-95e51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:685927937385:ios:b994e53172daf3e0</string>
	<key>DATABASE_URL</key>
	<string>https://collection-buddy-95e51.firebaseio.com</string>
</dict>
</plist>