<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Collection Buddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04FA0EB11E5621BC006ECDC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FA0EC81E5621BC006ECDC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FA0ED31E5621BC006ECDC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
